<% provide(:title, 'Contact') %>

<div>
  <h1>Pardesi Jobs</h1>
  <h2>Contact Us</h2>
  <h3>Know which industries we serve, at Pardesi Jobs. We have expertise in industries ranging from Contruction, FMCG, Mechanical to Automation, Laundry, Finance and Oil and gas.</h3>
  <p>Want to learn more about our venture?</p>
  <p>Care to explore the unknown.</p>
  <p>Lets get in touch. Send us a message:</p>
  <div>
  <p>Phone: +91 9665804219</p>
  <p>Email: pardesijobs@gmail.com</p>
  <p>Headquarters: C9, Joseph Tito Mard, Chirag Delhi</p>
  </div>
  </<div>
</div>
