<% provide(:title, 'Contact') %>
<div>
<div class="center hero-unit">
  <h1>Contact Us</h1>
  </div>
  <div class="left">
  <p>Know which industries we serve, at Pardesi Jobs. We have expertise in industries ranging from Contruction, FMCG, Mechanical to Automation, Laundry, Finance and Oil and gas. Want to learn more about our venture? Care to explore the unknown?</p>
  </div>
  <div class="left">
  <h2>Lets get in touch. Send us a message:</h2>
  <p>Phone: +91 9665804219</p>
  <p>Email: pardesijobs@gmail.com</p>
  <p>Headquarters : C9, Joseph Tito Marg, Chirag Delhi</p>
  </div>
  </div>
