<%provide(:title, 'Home')%>

<div class="center hero-unit">
<h1>About Us</h1>
</div>
<div class="left"
<p>Pardesi Jobs is a manpower service provider. We supply manpower from our partners in Southeast Asia to the Gulf region, Phillipines to the Gulf, China and Taiwan and from countries in Eastern Europe to other parts. We not only help you book your manpower, but also enable you to track in in real time, through our app and our 24/7 available customer service. We verify both the personal background as well the medical background of the manpower before matching it with your needs. Revolutionising the idea of overseas manpower hiring and management.</p>
</div>
<div class="center">
  <%= link_to "Sign up now!", users_new_path, class: "center btn btn-large btn-primary" %>
</div>
