<%provide(:title,'Services')%>

<div>
  <h1>Pardesi Jobs</h1>
  <h1>Services</h1>
  <p>Know what we do, at Pardesi Jobs. We have expertise in services ranging from manpower Consultancy, Staffing to Visa, Immigration and Passport services.</p>
  <h3>Want to learn more about our services?</h3>
  <div>
    <h2>Manpower Consultancy</h2>
    <p>Employing the right candidates with a company is a very crucial step and we understand your demands. We're here to provide our expertise & assistance so that you don't have to worry about hiring manpower ever again & you can put all your focus on your business while we handle your hiring hassles.</p>
    <p> We, at Collarly are committed to provide high-end recruitment consultancy solutions and visa consultancy services for various types of industries, anywhere anytime deriving effective top notch results for every client.</p>
  </div>
  <div>
    <h2>Staffing</h2>
    <p>Our 24*7 active approach, quick tractability, complete compliance and willingness to walk that extra mile for our associations, makes us unique. Thus, at every recruitment phase, we ensure to provide the right professionals to meet your needs. Our thorough screening process is marked to be the best in the market, which allows us to identify and place the most relevant & qualified resources for our clients.</p>
  </div>
  <div>
    <h2>Visa Services</h2>
    <p>With an employer network of numerous companies over Gulf and Europe region, we provide both blue collar and white collar jobs and various other work opportunities to meet your personal and professional goals. We hold out a vast arrangement, contract-to-hire and direct placement positions on board, so you can easily find the role that best fits your lifestyle & get on it.</p>
  </div>
  <div>
    <h2>Immigration and Passport Services</h2>
    <p>We are acclaimed a leading Visa Service provider, our qualified team of professionals with an organized administrative set-up are here to analyze your requirements & provide visa support.</p>
    <p>A number of people travel abroad every year in search of new employment or a brand new living. Some planning to work for  temporary timelines and some apply for immigration.</p>
  </div>
</div>
