<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
<div>
  <h1>Pardesi Jobs</h1>
<h2>About Us</h2>
<p> Collarly is a manpower service provider. We supply manpower from our partners in Southeast Asia to the Gulf region, Phillipines to the Gulf, China and Taiwan and from countries in Eastern Europe to other parts.
</p>
<p> We not only help you book your manpower, but also enable you to track in in real time, through our app and our 24/7 available customer service. We verify both the personal background as well the medical background of the manpower before matching it with your needs. Revolutionising the idea of overseas manpower hiring and management.
</p>
</div>

<div>
<h3>Contact Us</h3>
<p>Lets get in touch. Send us a message:</p>
<div>
<p>Phone: +91 9665804219</p>
<p>Email: pardesijobs@gmail.com</p>
</div>
</<div>

</div>
  </body>
</html>
